@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Source+Code+Pro);

body {
  font-family: "Droid Sans", Helvetica, Calibri, Arial;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
  width: 400px;
}
h1 { font-family: "Droid Serif", Georgia; }
ol {
  margin: 0 0 25px;
  padding: 0 0 0 25px;
}
input, button, textarea {
  font-family: "Droid Sans", Helvetica, Calibri, Arial;
  font-size: 16px;
}
input[type="text"], textarea {
  border: 1px solid #dddddd;
  border-radius: 2px;
  padding: 5px;
}
button {
  background-color: #2f7abb;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  padding: 5px 7px;
}
button:hover { background-color: #4db849; }
hr {
  border: 1px solid #dddddd; 
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 25px 0;
}
textarea {
  font-family: "Source Code Pro";
  height: 400px;
  margin-top: 5px;
  padding: 10px;
  width: 378px;
}
.message {
  background-color: #f9ebb3;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
}

.pull-right {
  float: right;
}
.hidden {
  display: none;
}