<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }} - {{ site.desc }}</title>
  <meta charset='utf-8'>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/data-json.css" media="screen"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
  <!--[if IE 7]>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome-ie7.min.css">
  <![endif]-->
</head>

<body>
  <div id="content">
    <h1>{{ site.title }}</h1>
    {{ content }}
    <input id="user" name="user" type="text" />
    <button id="submit" name="submit" value="Go Get It">Go Get It</button>
    <div>
      <div id="github-message" class="message hidden"  data-warning-no-user="Enter a user." data-warning-no-gh-user="No user found." data-warning-no-repos="No repos found." data-warning-no-data="No data.json found." data-warning-github-error="Error reaching Github."></div>
    </div>
  </div>

  <hr>

  <div class="hidden" id="json-container">
    <h4>Repos with data.json: </h4>
    <div id="found"></div>
    <h4>Repos with no data.json: </h4>
    <div id="notfound"></div>
    <i class="icon-copy icon-border pull-right" id="copy-it" name="copy-it" value="Copy It" data-clipboard-target="json"></i>
    <div id="copy-message" class="message hidden" data-warning-no-flash="Flash required."  data-warning-wrong-flash="Flash 10.0.0+ required." data-success="Copied!"></div>
    <textarea id="json" name="json"></textarea>
  </div>

  <script src="{{ site.baseurl }}/js/ZeroClipboard.min.js"></script>
  <script src="{{ site.baseurl }}/js/jquery-1.9.1.min.js"></script>
  <script src="{{ site.baseurl }}/js/data-json.js"></script>
</body>